@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @model KangarooParty.Models.Kangaroo

    <div class="container text-center">
        <div class="row justify-content-between">
            <div class="col-4">
                <h1>@Model.Name the Kangaroo</h1>
            </div>
            <div class="col-2">
                <ul class="nav nav-underline">
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" asp-controller="Kangaroo" asp-action="Index">All</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Kangaroo" asp-action="Create">Create</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <br />


    <center>
        <div class="card mb-3 text-center" style="width: 48rem;">
            <img src="~/images/kangaroo@(Model.Pic).jpg" class="card-img-top" alt="...">
            <div class="card-body">
                @if (Model.HostingParty != null)
                {
                    <p class="card-text"><a asp-controller="Party" asp-action="PartyInfo" asp-route-id="@Model.HostingPartyId">@Model.Name's Party</a></p>
                }
                else if (Model.AttendingParty != null)
                {
                    <p class="card-text">At <a asp-controller="Party" asp-action="PartyInfo" asp-route-id="@Model.AttendingPartyId">@Model.AttendingParty.Host.Name's Party</a></p>
                }
            </div>
        </div>
    </center>

    <button type="button" class="btn btn-secondary" data-bs-toggle="modal" data-bs-target="#hostModal">Edit...</button>

    <!-- Modal -->
    <div class="modal fade" id="hostModal" tabindex="-1" aria-labelledby="hostModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <form method="post" class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="hostModalLabel">Kangaroo Editor</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <h3>Change Name</h3>
                    <input type="text" required class="form-control" asp-for="Name">
                    <h3>Go to a Party</h3>
                    @if (ViewBag.Parties != null)
                    {
                        <select class="form-select" asp-for="AttendingPartyId" asp-items="ViewBag.Parties"></select>
                    }
                    else
                    {
                        <h5>No parties to join!</h5>
                    }

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">Save changes</button>
                </div>
            </form>
        </div>
    </div>

}

